---
import { Image } from 'astro:assets';
import SectionTitle from '../components/SectionTitle.astro';
import logo from '../assets/logos/motorbunny-logo-pink.png';
import img1 from '../assets/images/app-features-01.jpg';
import img2 from '../assets/images/app-features-02.png';
import img3 from '../assets/images/app-features-03.png';
import img4 from '../assets/images/app-features-04.png';
import fappy1 from '../assets/images/fappy-bunny-01.png';
import rusty1 from '../assets/images/rusty-01.png';
import snow1 from '../assets/images/snow-bunny-01.png';
---

<section class="mx-auto max-w-[1440px] py-12">
	<SectionTitle title="Only With" src={logo} subtitle="Cutting-Edge Integrated App" />
	<div class="mt-16 grid w-full sm:grid-cols-2">
		<div class="flex w-full items-center">
			<Image class="sm:rounded-br-2xl sm:rounded-tr-2xl" src={img1} alt="" />
		</div>
		<div class="flex w-full items-center justify-center px-2">
			<Image src={img2} alt="" />
		</div>
	</div>
	<div class="mx-auto mt-16 grid w-full max-w-screen-xl px-2 sm:grid-cols-2">
		<div class="flex w-full flex-col items-center justify-center gap-y-8">
			<SectionTitle title="Wirelessly Control From Anywhere" />
			<Image class="rounded-2xl" src={img3} alt="" />
		</div>
		<div class="flex w-full flex-col items-center justify-center gap-y-8">
			<SectionTitle title="Compatible With Other Digital Toys" />
			<Image class="rounded-2xl" src={img4} alt="" />
		</div>
	</div>
	<div class="mx-auto mt-16 flex w-full max-w-screen-xl flex-col items-center justify-center px-2">
		<SectionTitle title="Motorbunny Video Games Synced To Your Machine" />
		<div>
			<Image src={fappy1} alt="" />
		</div>
		<div>
			<Image src={rusty1} alt="" />
		</div>
		<div class="mt-8">
			<Image src={snow1} alt="" />
		</div>
	</div>
	<div class="mx-auto mt-16 w-full max-w-screen-xl px-2">
		<SectionTitle title="Watch Ladies Play Flappy Bunny" />
		<div class="mt-12">
			<script src="https://fast.wistia.com/embed/medias/pj4j6y2xrr.jsonp" async></script><script
				src="https://fast.wistia.com/assets/external/E-v1.js"
				async></script><div
				class="wistia_responsive_padding"
				style="padding:56.25% 0 0 0;position:relative;"
			>
				<div
					class="wistia_responsive_wrapper"
					style="height:100%;left:0;position:absolute;top:0;width:100%;"
				>
					<div
						class="wistia_embed wistia_async_pj4j6y2xrr seo=true videoFoam=true"
						style="height:100%;position:relative;width:100%"
					>
						<div
							class="wistia_swatch"
							style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"
						>
							<img
								src="https://fast.wistia.com/embed/medias/pj4j6y2xrr/swatch"
								style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
								alt=""
								aria-hidden="true"
								onload="this.parentNode.style.opacity=1;"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
