---
import ProductCard from '../components/ProductCard.astro';
import Section from '../components/Section.astro';
// assets
import giftset from '../assets/images/ultimate-gift-set.png';
import link from '../assets/images/mb-link.jpg';
import buck from '../assets/images/mb-buck.jpg';
import originalLogo from '../assets/logos/mb-original-logo.png';
import linkLogo from '../assets/logos/mb-link-logo.png';
import buckLogo from '../assets/logos/mb-buck-logo.png';
import docjohnson from '../assets/logos/docjohnson-logo.png';
---

<Section id="offers">
	<div class="space-y-16">
		<ProductCard
			imgSrc={giftset}
			price={1221}
			subtitle="Ultimate Motorbunny Gift Set"
			reviews={424}
			description="The Ultimate Gift set perfect for the bunny in your life. Everything you need to hop on including the best selling premium attachments."
			url="https://motorbunny.com/products/motorbunny"
			items={[
				'Motorbunny Link Saddle Vibrator',
				'1 Premium Silicone Mt. Gushmore Attachment',
				'1 Premium Silicone "Lolli" Attachment',
				'2 Covers',
				'Nipple Clamps',
				'Knee pad attachment',
				'4 Regular Attachments (low, standard, large and larger cover)',
				'2 Springs, 2 Rods, 2 Risers',
				'Power Supply',
				'Bluetooth Controller'
			]}
		/>

		<ProductCard
			imgSrc={link}
			price={999}
			compareAt={1549}
			logoSrc={linkLogo}
			subtitle="with Bluetooth Controller"
			reviews={423}
			description="Motorbunny LINK technology gives you greater control over your riding experience. Pre-programmed routines offer capabilities no human controller can replicate, and wireless control lets your partner direct the action from anywhere in the world."
			url="https://motorbunny.com/products/motorbunny-link-bundle"
			items={[
				'Motorbunny Saddle Vibrator',
				'4 Attachments (low, standard, large and larger cover)',
				'2 Springs, 2 Rods, 2 Risers',
				'Power Supply',
				'Bluetooth Controller'
			]}
		/>

		<ProductCard
			imgSrc={buck}
			compareAt={2049}
			price={1649}
			logoSrc={buckLogo}
			subtitle="with Bluetooth Controller"
			reviews={72}
			description="The world’s first and only hybrid saddle vibrator and thrusting sex machine."
			url="https://motorbunny.com/products/motorbunny-buck?variant=39286325805101"
			items={[
				'Buck Hybrid Saddle Vibrator',
				'6 Attachments',
				'Right Angle Wedge',
				'Vac-U-Lock Adapter',
				'2 Doc Johnson 7.5" dildos',
				'Vac-U-Powder',
				'Power Supply',
				'Bluetooth Controller'
			]}
		/>
	</div>
</Section>
