---
import ProductCard from '../components/ProductCard.astro';
import Section from '../components/Section.astro';
// assets
import original from '../assets/images/mb-original.jpg';
import link from '../assets/images/mb-link.jpg';
import buck from '../assets/images/mb-buck.jpg';
import originalLogo from '../assets/logos/mb-original-logo.png';
import linkLogo from '../assets/logos/mb-link-logo.png';
import buckLogo from '../assets/logos/mb-buck-logo.png';
import docjohnson from '../assets/logos/docjohnson-logo.png';
---

<Section id="offers">
	<div class="space-y-16">
		<ProductCard
			imgSrc={original}
			price={899}
			compareAt={1395}
			logoSrc={originalLogo}
			subtitle="with Regular Controller"
			reviews={423}
			description="Motorbunny Original is the classic ride on top vibrator that's sure to rock your world. With tons of attachment options (for him and her) that both vibrate and rotate, app integration, games, and more, there's something here for everyone!"
			url="https://motorbunny.com/products/motorbunny"
			items={['item-1']}
		/>
		<ProductCard
			imgSrc={link}
			price={999}
			compareAt={1549}
			logoSrc={linkLogo}
			subtitle="with Bluetooth Controller"
			reviews={423}
			description="Motorbunny LINK technology gives you greater control over your riding experience. Pre-programmed routines offer capabilities no human controller can replicate, and wireless control lets your partner direct the action from anywhere in the world."
			url="https://motorbunny.com/products/motorbunny-link-bundle"
			items={['item-1']}
		/>
		<ProductCard
			imgSrc={buck}
			compareAt={2049}
			price={1649}
			logoSrc={buckLogo}
			attachmentSrc={docjohnson}
			attachmentText="attachments included with Buck"
			subtitle="with Bluetooth Controller"
			reviews={423}
			description="The world’s first and only hybrid saddle vibrator and thrusting sex machine."
			url="https://motorbunny.com/products/motorbunny-buck"
			items={['item-1']}
		/>
	</div>
</Section>
