---
import '../../base.css';
import TailwindIndicator from '../components/win/TailwindIndicator.astro';
import { cn } from '../lib/utils';
import GTag from '../components/GTag.astro';
import Hotjar from '../components/Hotjar.astro';
import UniversalScript from '../components/UniversalScript.astro';
interface Props {
	title: string;
	description: string;
	className?: string;
	klaivyo?: boolean;
	lightbox?: boolean;
}

const { title, description, className, klaivyo = true, lightbox = true } = Astro.props;
---

<!doctype html>
<html class="bg-neutral" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- Primary Meta Tags -->
		<title>{title}</title>
		<meta name="description" content={description} />
		<!-- favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="robots" content="noindex, nofollow" />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<!-- <meta property="og:url" content={permalink} /> -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<!-- <meta property="og:image" content="/mb-vs-sybian-social.jpg" /> -->

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<!-- <meta property="twitter:url" content={permalink} /> -->
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<!-- <meta property="twitter:image" content="/mb-vs-sybian-social.jpg" /> -->

		<!-- Klaviyo -->
		{
			klaivyo && (
				<script
					is:inline
					async
					type="text/javascript"
					src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id=J46vQf"
				/>
			)
		}
		<!-- End Klaviyo -->

		<!--START Digioh Fast Activation Javascript for Spin to Win-->
		{
			lightbox && (
				<script
					is:inline
					async
					type="text/javascript"
					src="https://www.lightboxcdn.com/vendor/c1e11ba5-31e5-45fb-9c5c-b57b160bf2b0/lightbox_inline.js"
				/>
			)
		}
		<!--END Digioh Fast Activation Javascript-->
		<GTag />
		<UniversalScript />
	</head>
	<body class={cn('min-h-screen text-base-100', className)}>
		<slot />
		<TailwindIndicator />
		<!-- Hotjar Tracking Code for www.motorbunny.com -->
		<Hotjar />
	</body>
</html>
